<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website Title</title>

</head>

<body>
  <header>
    <h1>Teste NUTI</h1>
  </header>

  <div class="container">
    <h2>Contador de Tags</h2>
    <form (ngSubmit)="onSubmit(urlform)" #urlform="ngForm">
      <div class="form-outline">
        <textarea class="form-control" id="textAreaExample" rows="4" [(ngModel)]="urlDto.urls" name="urls"></textarea>
        <label class="form-label" for="textAreaExample">Escreva as Urls aqui (Uma Url por linha - Separar com
          Enter)</label>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>

    </form>
  </div>
  <br>
  <br>
  <div class="d-flex align-items-center justify-content-center text-center">
    <table class="table table-hover" style="width:50%">
      <thead class="bg-light text-center">
        <tr>
          <th>Detalhes</th>
          <th>Id</th>
          <th>Url</th>
          <th>
            <button type="button" class="btn btn-default btn-sm" (click)="refreshTable()">
              <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="bg-light">
        <tr *ngFor="let url of listaUrl.listaUrlTagsContadas">
          <td>
            <button class="btn btn-default btn-sm" (click)="showDetails(url)" *ngIf="mostrarBotao == true">Expandir</button>
            <button class="btn btn-default btn-sm" (click)="showDetails(url)" *ngIf="mostrarBotao == false">Minimizar</button>
        <tr *ngIf="elementDetails!=null && url.id==elementDetails.id">
          <br>
          <table class="table table-hover">
            <thead class="bg-light">
              <tr>
                <th>Tag</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody class="bg-light">
              <tr *ngFor="let tag of url.listaTag">
                <td>{{tag.nomeTag}}</td>
                <td>{{tag.quantidade}}</td>
              </tr>
            </tbody>
          </table>

        </tr>
        </td>
        <td>{{ url.id }}</td>
        <td>{{ url.url }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer>
  </footer>
</body>

</html>